@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
/* 1) Box-sizing- The box sizing property in css defines how the user should calculate
the total width and height of an element i.e padding and borders, are to be included or not.
 box-sizing: conetent-box| border-box;
2) Outline- an outline is a line drawn outside the element's border.
3) Text-decoration - the text-decoration property specifies the decoration added to text, and is a 
shorthand property for: 
text-decoration-line
text-decoration-color
text-decoration-style
text-decoration-thickness
4)padding- padding is used to create space around an element's content, inside of any defined border.
top, right, bottom, left.
5) margin- margins are used to create space around elements, outside of any defined borders.
top, right, bottom, left 
font- weight- the property sets how thick or thim characters in text shoild be displayed*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;          
    outline: none;
    text-decoration: none;
    font-family: 'Nunito',sans-serif;
    font-weight: 400;
}


/* 1 rem = 16 pixel */
html{

    font-size: 62.5%;
}
/* Display-it defines how thr components(div,hyperlink,heading etc) are gonna to be placed on the
webpage. syntax- display: value;
FLEX- flexbox is to give container the ability to shrink elements to best use all the available
space.
flex-direction- row-reverse (left to right)
column(top to bottom)
column-reverse(bottom to top)
initial- it sets a css property to its default or original vale
inherit- inherits this property from parent class
justify- content -it is used to align the items of the flexible box container when the items do not
use all available space on the main axis(horizontally). it distributes the space around and between
the content items.
space evenly- it positions the items with equal space, but the spacing from the corner differs.
align-items- justify content can't be used to describe containers or items along the vertical axis.
to align the items vertically, we use align items.
center- the position of items should be center of the container vertically. */

.section-heading{

    font-size: 12rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    text-shadow: 0.3rem 0.3rem 0.3rem #000;
}
/* transform- it applies a 2D and 3D transformation to an element. it allows us to rotate,scale,move
skew etc, elements.
translate(x,y)defines 2D translation
translate(x,y,z) defines 3D translation
translate(X) defines a translation using only the value for the X-axis
translate(Y) defines a translation using only the value for the Y-axis
translate(Z) defines a translation using only the value for the Z-axis
position
 */

/* NavBar */
.navbar{
    width: 100%;
    height: 14rem;
    background-color: #000;
    position: fixed;
    top: -14rem;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.2rem 0.2rem 0.2rem
    #000;
    transition:top 0.4s;
    

}
.navbar.change{
    top: 0;
    transition: top 0.4s 0.2s;
}
.navbar-link{
    color: #aaa;
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: color 0.3s;

}
.change .navbar-link{
    opacity: 1;
}
.change.navbar-link:nth-child(1){
    transition: opacity 0.4s 0.5s color 0.3s;
}
.change.navbar-link:nth-child(2){
    transition: opacity 0.4s 0.6s color 0.3s;
}
.change.navbar-link:nth-child(3){
    transition: opacity 0.4s 0.7s color 0.3s;
}
.change.navbar-link:nth-child(4){
    transition: opacity 0.4s 0.8s color 0.3s;
}
.change.navbar-link:nth-child(5){
    transition: opacity 0.4s 0.9s color 0.3s;
}
.navbar-link:hover{
    color: #fff;
}
.navbar-link i{
    font-size: 7rem;
}

.navbar-link span{
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    margin-top: 0.5rem;
}
.menu{
    width: 4rem;
    height: 6rem;
    background-color: #000;
    position: fixed;
    top: 1rem;
    left: 5rem;
    border-radius: 30rem 30rem 15rem 15rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #000, -0.1rem -0.1rem 0.1rem #000;
    cursor: pointer;
    z-index: 100;
    transition: top 0.4s 0.2s;
}
.menu.change{
    top: 15rem;
    transition: top;
}

.menu::before{
    content: " ";
    width: 0.3rem;
    height: 15rem;
    background-color: #000;
    position: absolute;
    top: -15rem;
    left: calc(50% - 0.15rem);
    box-shadow: 0.1rem 0 0.1rem #000;
}


/* End Of NavBar */

     /* Section 1 */
.section-1{
    width: 100%;
    height: 100vh;
    background-color:#333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* 1%= 0.16pixel, 1vh=19.2pixel */

}
/* text- align -it specifies horizontal alignment of text in an element.
center- it centers the text
text- transform -it controls tthe capitalization of text.
capitalize- transforms the first letter of each word to uppercase.
uppercase,lowerscase,none,inherit,initial
letter-spacing- it increases or decreases the space between characters in a text.
normal, length, initial, inherit
text-shadow - it adds shadow to the text. it accepts comma separated list of shadows that applied to be
the text. h shadow| v shadow| blur| radius color| none| initial|inherit
h shadow- allows negative values, v shadow doesn't allow negative values.
 */

.section-1-icons i{
    font-size: 35rem;
    color: #a79a2d;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    text-shadow: 0.2rem 0.2rem 0.2rem #000;
    transition: transform .3s;
}
.section-1-icons i.change{
    transform: translate(-50%, -50%) scale(1);
    transition: transform .3s;
}
/* section-2 */
.section-2{
    width: 100%;
    height: 100vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10rem 0;

}

.cards-container{
    display: flex;
    justify-content: space-evenly;
    
}
/* transform: skewX() - defines 2D rotation along the X-axis
transform: skewY() - defines 2D rotation along the Y-axis
justify-content: space-between - items are evenly spaced in  which the first item is at the beginnig,
and the last item is at the end.*/
.card{
    width: 30rem;
    background-color: #a79a2d;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1rem 1rem 1rem #000;
    position: relative;
    transform: rotateY(20deg) skewX(-2deg);
    transition: transform 0.5s, box-shadow 0.5s;

}
.card:hover{
    transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
    box-shadow: 2rem 2rem 2rem #000;
}
/* before is a pseudo code so we use :: next to it and we use : next to class.
it inserts something before the content of each selected elements, and so as after. */

.card::before{           
    content: "";
    height: 100%;
    width: 1rem;
    background-color: #86790473;
    /* c7bc56 */
    position: absolute;
    top: 0;
    left: -1rem;
    transform: skewY(45deg);
    transform-origin: right;
    box-shadow: -0.1rem -0.1rem -0.1rem #000;


}
.card::after{           
    content: "";
    height: 1rem;
    width: 100%;
    background-color: #8f8317;
    position: absolute;
    top: -1rem;
    left: 0;
    transform: skewX(45deg);
    transform-origin: bottom;
    box-shadow: -0.1rem -0.1rem 0.1rem #000;


}

.card-img{
    width: 100%;
}
.card-name{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #111;
    margin: 2rem 0;
    text-shadow: 0.15rem 0.15rem 0.15rem #000;
}

.card-btn{
    width: 70%;
    background-color: #111;
    color: #888;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    border: none;
    padding: 0.5rem 0;
    cursor: pointer;
    box-shadow: -0.2rem -0.2rem 0.2rem #000;
}
/* End of section-2 */

/* section-3 */
.section-3{
    background-color: #333;
    padding: 5rem 0;

}
/* The flex-wrap property specifies whether the flexible items should wrap or not. the flex-wrap
property allows enabling thr control direction in which lines are stacked.
wrap- specifies that the flexible items will wrap if necessary.
wrap-reverse - specifies that the flexible items will wrap, if necessary ,in reverse order
nowrap-default value */
.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10rem;
}
/* object-fit - property is used to specify how an img or video resized to fit its container.
fill- this is default. the image is resized to fill the given dimension. if necessary, 
the img will be stretched or squished to fit.
contain- the image keeps its aspect ratio, but resized to fit within the given dimension.
cover-the image keeps its aspect ratio and fills the given dimension. the image will be clipped
to fit. 
none- the img is not resized
scale down- the image is scaled down to the smallest version of none or cover.*/

.gallery-link{
    position: relative;
    margin: 4rem 1rem;
}
.gallery-link::before{
    content: "";
    position: absolute;
    top: 2vw;
    left: 80%;
    width: 0.2rem;
    height: 0;
    background-color: #fff;
    z-index: 10;
    transition: height .5s;
}
.gallery-link:hover::before{
    height: 80%;
}
.gallery-link::after{
    content: "";
    position: absolute;
    top: 30%;
    left: 2rem;
    width: 0;
    height: 0.2rem;
    background-color: #fff;
    transition: width .5s;

}
.gallery-link:hover::after{
    width: 90%;
}
.food-img{
    width: 24vw;
    height: 15vw;
    object-fit: cover;
    box-shadow: 0.3rem 0.3rem 0.1rem #e92929, 0.5rem 0.5rem 0.1rem #a2e946,
       0.7rem 0.7rem 0.1rem #297ce9,
       0.9rem 0.9rem 0.1rem #e92999;
    transition: all 0.5s;
}
.gallery-link:hover .food-img{
    box-shadow: 1rem 1rem 0.1rem #e92929, 2rem 2rem 0.1rem #a2e946,
       3rem 3rem 0.1rem #297ce9,
       4rem 4rem 0.1rem #e92999;
    filter: blur(0.5rem);
    opacity: 0.5;
    transform: scale(1.1);
}
.food-name{
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #fff;
    width: 0;
    overflow: hidden;
    transition: width 0.3s;
}

.gallery-link:hover .food-name{
    width: 100%;
    transition: width 1.5s 0.5s;
}
.food-description{
    position: absolute;
    bottom: 3vw;
    left: 2rem;
    width: 70%;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #fff;
    opacity:0;
    visibility: hidden;
}
.gallery-link:hover .food-description {
    opacity: 1;
    visibility: visible;
    transition: opacity;
}


/* End of section-3 */
/* Section-4 */
.section-4{
    width: 100%;
    height: 30vh;
    background-color: #222;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 3rem 0;
    position: relative;
}

.section-4-text{
    text-transform: uppercase;
}

.section-4-heading{
    font-size: 4rem;
    font-weight: 900;
    color: #a79a2d;
}

.section-4-paragraph{
    font-size: 1.5rem;
    color: #888;
}

.signup-form{
    display: flex;
    align-items: center;
}

.signup-form-input{
    width: 35rem;
    height: 5rem;
    padding: 1rem;
    border: 0.2rem solid #a79a2d;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #a79a2d;
}

.signup-form-btn::placeholder{
    color: #a79a2d ;
}

.signup-form-btn{
    position: relative;
    left: -4.5rem;
    width: 4rem;
    height: 4rem;
    background-color: #333;
    color: #a79a2d;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
}
.copyright{
    position: absolute;
    bottom: 3rem;
    font-size: 1.7rem;
    font-weight: 200;
    color: #eee;
    letter-spacing: 0.1rem;
    border-top: 0.1rem solid #888;
    padding-top: 6rem;
    width: 100%;
    text-align: center;
}

/* End of section 4 */

/* Responsive */

@media(max-width:1400px){
    html{
        font-size:50%;
    }
        
    .section-2{
        height:auto;
        padding: 10rem,0 12rem 0;
    }
    
    .cards-container{
        margin-top:10rem;
    }
    
    .gallery-link{
        width:40rem;
        height:25rem;
        margin: 5rem;
    }
    
    .food-img{
        width:100%;
        height: 100%;
    }
    }
    
    @media(max-width:1000px){
    
    .section-heading{
        font-size: 9rem;
        margin: 0 5rem;
    }
    
    .cards-container{
        flex-wrap: wrap;
    }
    
    .card{
        margin: 5rem;
    }
    
    .section-4{
        height:30rem;
    }
    }
    
    @media(max-width:900px){
    
    .navbar-link{
        margin: 2rem;
    }
    
    .navbar-link i{
        font-size: 4rem;
    }
    
    .navbar-link span{
        font-size: 2rem;
    }
    }
    
    @media(max-width:700px){
    
    .section-heading{
        font-size: 7rem;
        margin: 0 10rem;
    }
    
    .section-1-icons i{
        font-size: 20rem;
    }
    
    .menu{
        left: 2rem;
    }
    
    .section-4{
        height: 40rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .section-4-text{
        margin-bottom: 8rem;
    }
    }
    
    @media(max-width:550px){
    
    html{
        font-size: 40%;
    }
    
    .navbar-link{
        margin: 0 0.7rem;
    }
    }
     /* End of Responsive */



 










